'scopeName': 'source.lsg'
'name': 'source.lsg'
'fileTypes': ['lsg']
'patterns': [
  {
    'begin': '^(#{1})(\\s*)'
    'end': '$'
    'name': 'markup.heading.heading-1.gfm'
    'captures':
      '1':
        'name': 'markup.heading.marker.gfm'
      '2':
        'name': 'markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^\\s*([`]{3,})\\s*$'
    'beginCaptures':
      '0':
        'name': 'support.gfm'
    'end': '^\\s*\\1\\s*$'
    'endCaptures':
      '0':
        'name': 'support.gfm'
    'name': 'string.code.lsg'
    'patterns': [
      {
        'include': 'source.html.basic'
      }
      {
        'include': 'source.lsg'
      }
      {
        'begin': '\\*\\*\\*(?!$|\\*|\\s)'
        'end': '\\*\\*\\*'
        'beginCaptures':
          '0':
            'name': 'highlight-start.lsg'
        'endCaptures':
          '0':
            'name': 'highlight-end.lsg'
        'name': 'highlight.lsg'
      }
    ]
  }
  {
    'begin': '^(@css)(?: ([^\\n]*[^\\{\\n:]))? *(:)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=```|$)'
    'name': 'none.lsg'
    'patterns': [
      {
        'include': 'source.css'
      }
    ]
  }
  {
    'begin': '^(@css)(?: ([^\\n]*[^\\{\\n:]))? *(\\{)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^\\}$'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'none.css.lsg'
    'patterns': [
      {
        'include': 'source.css'
      }
    ]
  }
  {
    'begin': '^(@css)(?: ([^\\n]*[^\\{\\n:]))? *$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=[^ ])'
    'name': 'none.css.lsg'
    'patterns': [
      {
        'include': 'source.css'
      }
    ]
  }
  {
    'begin': '^(@scss)(?: ([^\\n]*[^\\{\\n:]))? *(:)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=```|$)'
    'name': 'none.scss.lsg'
    'patterns': [
      {
        'include': 'source.scss'
      }
    ]
  }
  {
    'begin': '^(@scss)(?: ([^\\n]*[^\\{\\n:]))? *(\\{)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^\\}$'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'none.scss.lsg'
    'patterns': [
      {
        'include': 'source.scss'
      }
    ]
  }
  {
    'begin': '^(@scss)(?: ([^\\n]*[^\\{\\n:]))? *$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=[^ ])'
    'name': 'none.scss.lsg'
    'patterns': [
      {
        'include': 'source.scss'
      }
    ]
  }
  {
    'begin': '^(@sass)(?: ([^\\n]*[^\\{\\n:]))? *(:)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=```|$)'
    'name': 'none.sass.lsg'
    'patterns': [
      {
        'include': 'source.sass'
      }
    ]
  }
  {
    'begin': '^(@sass)(?: ([^\\n]*[^\\{\\n:]))? *(\\{)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^\\}$'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'none.sass.lsg'
    'patterns': [
      {
        'include': 'source.sass'
      }
    ]
  }
  {
    'begin': '^(@sass)(?: ([^\\n]*[^\\{\\n:]))? *$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=[^ ])'
    'name': 'none.sass.lsg'
    'patterns': [
      {
        'include': 'source.sass'
      }
    ]
  }
  {
    'begin': '^(@data)(?: ([^\\n]*[^\\{\\n:]))? *(:)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=$|```)'
    'name': 'none.css.lsg'
    'patterns': [
      {
        'include': 'source.yaml'
      }
      {
        'begin': '(?=\\{)'
        'end': '(?<=\\})'
        'include': 'source.json'
      }
    ]
  }
  {
    'begin': '^(@data)(?: ([^\\n]*[^\\{\\n:]))? *(?=\\{$)'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
    'end': '(?<=^\\})$'
    'name': 'none.css.lsg'
    'patterns': [
      {
        'include': 'source.yaml'
      }
      {
        'begin': '(?=\\{)'
        'end': '(?<=\\})'
        'include': 'source.json'
      }
    ]
  }
  {
    'begin': '^(@data)(?: ([^\\n]*[^\\{\\n:]))? *'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'punctuation.definition.parameters.lsg'
    'end': '^(?=[^ ])'
    'name': 'none.css.lsg'
    'patterns': [
      {
        'include': 'source.yaml'
      }
      {
        'begin': '(?=\\{)'
        'end': '(?<=\\})'
        'include': 'source.json'
      }
    ]
  }
  {
    'begin': '^(@css)(?: ([^\\n]*[^\\{\\n:]))? *(\\{)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^\\}$'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.css.lsg'
    'patterns': [
      {
        'include': 'source.scss'
      }
    ]
  }
  {
    'begin': '^(@colors)(?: ([^\\n]*[^\\{\\n:]))? *(:)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=$|```)'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.lsg'
    'patterns': [
      {
        'match': '\\$[\\w\\-_]+'
        'name': 'variable.other.value'
      }
    ]
  }
  {
    'begin': '^(@colors)(?: ([^\\n]*[^\\{\\n:]))? *(\\{)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^\\}$'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.lsg'
    'patterns': [
      {
        'match': '\\$[\\w\\-_]+'
        'name': 'variable.other.value'
      }
    ]
  }
  {
    'begin': '^(@colors)(?: ([^\\n]*[^\\{\\n:]))? *$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=[^ ])'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.lsg'
    'patterns': [
      {
        'match': '\\$[\\w\\-_]+'
        'name': 'variable.other.value'
      }
    ]
  }
  {
    'begin': '^(@[\\w\\-_]+)(?: ([^\\n]*[^\\{\\n:]))? *(:)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=$|```)'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.lsg'
  }
  {
    'begin': '^(@[\\w\\-_]+)(?: ([^\\n]*[^\\{\\n:]))? *(\\{)$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^\\}$'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.lsg'
  }
  {
    'begin': '^(@[\\w\\-_]+)(?: ([^\\n]*[^\\{\\n:]))? *$'
    'beginCaptures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
      '3':
        'name': 'support.function.lsg'
    'end': '^(?=[^ ])'
    'endCaptures':
      '0':
        'name': 'support.function.lsg'
    'name': 'command.lsg'
  }
  {
    'match': '^(@[\\w\\d_-]+)(?: ([^\\n]*[^\\{\\n:]))?$'
    'captures':
      '1':
        'name': 'support.function.lsg'
      '2':
        'name': 'string.argument.lsg'
  }
  {
    'begin': '(?<=^|[^\\w\\d_])`(?!$|_|\\s)'
    'end': '(?<!^|\\s)`(?=$|[^\\w|\\d])'
    'name': 'string.code.lsg'
  }
  {
    'begin': '(?<=^|[^\\w\\d_])___(?!$|_|\\s)'
    'end': '(?<!^|\\s)___*_(?=$|[^\\w|\\d])'
    'name': 'markup.bold.italic.gfm'
  }
  {
    'begin': '(?<=^|[^\\w\\d\\*])\\*\\*(?!$|\\*|\\s)'
    'end': '(?<!^|\\s)\\*\\**\\*(?=$|[^\\w|\\d])'
    'name': 'markup.bold.gfm'
  }
  {
    'begin': '(?<=^|[^\\w\\d_])__(?!$|_|\\s)'
    'end': '(?<!^|\\s)__*_(?=$|[^\\w|\\d])'
    'name': 'markup.bold.gfm'
  }
  {
    'begin': '(?<=^|[^\\w\\d\\*])\\*(?!$|\\*|\\s)'
    'end': '(?<!^|\\s)\\**\\*(?=$|[^\\w|\\d])'
    'name': 'markup.italic.gfm'
  }
  {
    'begin': '(?<=^|[^\\w\\d_\\{\\}])_(?!$|_|\\s)'
    'end': '(?<!^|\\s)_*_(?=$|[^\\w|\\d])'
    'name': 'markup.italic.gfm'
  }
  {
    'begin': '(?<=^|[^\\w\\d~])~~(?!$|~|\\s)'
    'end': '(?<!^|\\s)~~*~(?=$|[^\\w|\\d])'
    'name': 'markup.strike.gfm'
  }
  {
    'begin': '^(#{6})(\\s*)'
    'end': '$'
    'name': 'bold.markup.heading.heading-6.gfm'
    'captures':
      '1':
        'name': 'markup.heading.marker.gfm'
      '2':
        'name': 'markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^(#{5})(\\s*)'
    'end': '$'
    'name': 'bold.markup.heading.heading-5.gfm'
    'captures':
      '1':
        'name': 'bold.markup.heading.marker.gfm'
      '2':
        'name': 'bold.markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^(#{4})(\\s*)'
    'end': '$'
    'name': 'bold.markup.heading.heading-4.gfm'
    'captures':
      '1':
        'name': 'bold.markup.heading.marker.gfm'
      '2':
        'name': 'bold.markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^(#{3})(\\s*)'
    'end': '$'
    'name': 'bold.markup.heading.heading-3.gfm'
    'captures':
      '1':
        'name': 'bold.markup.heading.marker.gfm'
      '2':
        'name': 'bold.markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^(#{2})(\\s*)'
    'end': '$'
    'name': 'bold.markup.heading.heading-2.gfm'
    'captures':
      '1':
        'name': 'bold.markup.heading.marker.gfm'
      '2':
        'name': 'bold.markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '^(#{1})(\\s*)'
    'end': '$'
    'name': 'bold.markup.heading.heading-1.gfm'
    'captures':
      '1':
        'name': 'bold.markup.heading.marker.gfm'
      '2':
        'name': 'bold.markup.heading.space.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'match': '(\\[!)(\\[)([^\\]]*)(\\])((\\()[^\\)]+(\\)))(\\])(((\\()[^\\)]+(\\)))|((\\[)[^\\]]+(\\])))'
    'name': 'link'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'punctuation.definition.begin.gfm'
      '3':
        'name': 'entity.gfm'
      '4':
        'name': 'punctuation.definition.end.gfm'
      '5':
        'name': 'markup.underline.link.gfm'
      '6':
        'name': 'punctuation.definition.begin.gfm'
      '7':
        'name': 'punctuation.definition.end.gfm'
      '8':
        'name': 'punctuation.definition.end.gfm'
      '10':
        'name': 'markup.underline.link.gfm'
      '11':
        'name': 'punctuation.definition.begin.gfm'
      '12':
        'name': 'punctuation.definition.end.gfm'
      '13':
        'name': 'markup.underline.link.gfm'
      '14':
        'name': 'punctuation.definition.begin.gfm'
      '15':
        'name': 'punctuation.definition.end.gfm'
  }
  {
    'match': '(\\[!)(\\[)([^\\]]*)(\\])((\\[)[^\\)]+(\\]))(\\])(((\\()[^\\)]+(\\)))|((\\[)[^\\]]+(\\])))'
    'name': 'link'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'punctuation.definition.begin.gfm'
      '3':
        'name': 'entity.gfm'
      '4':
        'name': 'punctuation.definition.end.gfm'
      '5':
        'name': 'markup.underline.link.gfm'
      '6':
        'name': 'punctuation.definition.begin.gfm'
      '7':
        'name': 'punctuation.definition.end.gfm'
      '8':
        'name': 'punctuation.definition.end.gfm'
      '10':
        'name': 'markup.underline.link.gfm'
      '11':
        'name': 'punctuation.definition.begin.gfm'
      '12':
        'name': 'punctuation.definition.end.gfm'
      '13':
        'name': 'markup.underline.link.gfm'
      '14':
        'name': 'punctuation.definition.begin.gfm'
      '15':
        'name': 'punctuation.definition.end.gfm'
  }
  {
    'match': '!?(\\[)([^\\]]*)(\\])((\\()[^\\)]+(\\)))'
    'name': 'link'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'entity.gfm'
      '3':
        'name': 'punctuation.definition.end.gfm'
      '4':
        'name': 'markup.underline.link.gfm'
      '5':
        'name': 'punctuation.definition.begin.gfm'
      '6':
        'name': 'punctuation.definition.end.gfm'
  }
  {
    'match': '!?(\\[)([^\\]]*)(\\])((\\[)[^\\]]*(\\]))'
    'name': 'link'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'entity.gfm'
      '3':
        'name': 'punctuation.definition.end.gfm'
      '4':
        'name': 'markup.underline.link.gfm'
      '5':
        'name': 'punctuation.definition.begin.gfm'
      '6':
        'name': 'punctuation.definition.end.gfm'
  }
  {
    'match': '^\\s*(\\[)([^\\]]+)(\\])\\s*:\\s*<([^>]+)>'
    'name': 'link'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'entity.gfm'
      '3':
        'name': 'punctuation.definition.end.gfm'
      '4':
        'name': 'markup.underline.link.gfm'
  }
  {
    'match': '^\\s*(\\[)([^\\]]+)(\\])\\s*(:)\\s*(\\S+)'
    'name': 'link'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'entity.gfm'
      '3':
        'name': 'punctuation.definition.end.gfm'
      '4':
        'name': 'punctuation.separator.key-value.gfm'
      '5':
        'name': 'markup.underline.link.gfm'
  }
  {
    'match': '^\\s*([*+-])[ \\t]+'
    'captures':
      '1':
        'name': 'variable.unordered.list.gfm'
  }
  {
    'match': '^\\s*(\\d+\\.)[ \\t]+'
    'captures':
      '1':
        'name': 'variable.ordered.list.gfm'
  }
  {
    'begin': '^\\s*(>)'
    'end': '^\\s*?$'
    'beginCaptures':
      '1':
        'name': 'support.quote.gfm'
    'name': 'comment.quote.gfm'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'match': '(?<=^|\\s|"|\'|\\(|\\[)(#)(\\d+)(?=[\\s"\'\\.,;\\)\\]])'
    'captures':
      '1':
        'name': 'variable.issue.tag.gfm'
      '2':
        'name': 'string.issue.number.gfm'
  }
  {
    'match': '(  )$'
    'captures':
      '1':
        'name': 'linebreak.gfm'
  }
  {
    'begin': '<!--'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.gfm'
    'end': '--\\s*>'
    'name': 'comment.block.gfm'
  }
  {
    'begin': '^\\|'
    'end': '(\\|)?\\s*$'
    'beginCaptures':
      '0':
        'name': 'border.pipe.outer'
    'endCaptures':
      '1':
        'name': 'border.pipe.outer'
    'name': 'table.gfm'
    'patterns': [
      {
        'match': '(:?)(-+)(:?)'
        'captures':
          '1':
            'name': 'border.alignment'
          '2':
            'name': 'border.header'
          '3':
            'name': 'border.alignment'
      }
      {
        'match': '\\|'
        'name': 'border.pipe.inner'
      }
    ]
  }
  {
    'begin': '{\\+\\+'
    'end': '\\+\\+}'
    'name': 'critic.gfm.addition'
    'captures':
      '0':
        'name': 'critic.gfm.addition.marker'
  }
  {
    'begin': '{--'
    'end': '--}'
    'name': 'critic.gfm.deletion'
    'captures':
      '0':
        'name': 'critic.gfm.deletion.marker'
  }
  {
    'begin': '{=='
    'end': '==}'
    'name': 'critic.gfm.highlight'
    'captures':
      '0':
        'name': 'critic.gfm.highlight.marker'
  }
  {
    'begin': '{>>'
    'end': '<<}'
    'name': 'critic.gfm.comment'
    'captures':
      '0':
        'name': 'critic.gfm.comment.marker'
  }
  {
    'begin': '{~~'
    'end': '~~}'
    'name': 'critic.gfm.substitution'
    'captures':
      '0':
        'name': 'critic.gfm.substitution.marker'
    'patterns': [
      {
        'match': '~>'
        'name': 'critic.gfm.substitution.operator'
      }
    ]
  }
]
