@import 'ui-variables';

atom-text-editor::shadow .source.lsg {
  @highlight-background: mix(@text-color-highlight, @app-background-color, 20%);
  .highlight.lsg {
    background: @highlight-background;
    border-radius: 3px;
    color: @text-color-highlight;
  }
  .highlight-end.lsg,
  .highlight-start.lsg {
    color: mix(@highlight-background, @text-color-highlight, 50%);
  }
  .heading {
    font-weight: bold;
    color: @text-color-highlight;
  }
  .link {
    color: @ui-site-color-2;
    text-decoration: underline;
  }
}
